* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6rem;
  color: white;
  background: #1e132d;
}

/* For 768px Screens and up (Ipad, Desktop) */
@media screen and (min-width: 47.99rem) {
  html,
  body {
    font-size: 1.1rem;
  }
}
