.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.Todo:nth-last-child(1) {
  border-radius: 0 0 1.5rem 1.5rem;
}

.Todo-todo {
  position: relative;
  transition: opacity 400ms linear;
  cursor: pointer;
}

.Todo-todo.done {
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0.5;
}
.Todo-todo.done:before {
  content: "";
  position: absolute;
  top: 55%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  animation: strikeitem 0.3s ease-in 0s forwards;
}
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo-btns {
  flex-shrink: 0;
  padding-left: 0.7em;
}
.Todo-btns button {
  border: none;
  font-size: 1.4em;
  margin: 0.5em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: white;
  transition: color 200ms ease-out;
}
.Todo-btns button:hover {
  color: #fa26a0;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}
.Todo-edit-form input {
  flex-grow: 1;
  padding: 0 1em;
  font-size: initial;
  background-color: #392352;
}
.Todo-edit-form button {
  padding: 0 1.3rem;
  margin-left: 5px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fa26a0;
  transition: background-color 200ms ease-out;
}
.Todo-edit-form button:hover {
  background-color: #af1b71;
}
.Todo-edit-form input,
.Todo-edit-form button {
  height: 3rem;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
