.TodoList {
  width: 35rem;
  min-height: 20rem;
  margin: 1rem auto;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.233),
    -5px -5px 7px rgba(0, 0, 0, 0.233);
  background: #22193a;
}

.TodoList-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: linear-gradient(
      135deg,
      rgba(55, 14, 126, 0.7) 16.4%,
      rgba(85, 18, 116, 0.75) 56.1%
    ),
    url('https://source.unsplash.com/lhnOvu72BM8');
  background-size: cover;
}

.TodoList h1 {
  font-family: 'Limelight', cursive;
  font-size: 3.3rem;
  letter-spacing: 0.05em;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3), -5px -5px 7px rgba(0, 0, 0, 0.3);
}

.TodoList ul {
  padding: 0 3rem;
  list-style-type: none;
}

/* For 768px Screens and up (Ipad, Desktop) */
@media screen and (min-width: 47.99rem) {
  .Todo {
    font-size: 1rem;
    height: 4rem;
  }
  .Todo-edit-form button {
    font-size: 0.7rem;
  }
  .Todo-edit-form input,
  .Todo-edit-form button {
    height: 3rem;
  }
}
